
nav
    height: 50px
    background-color: #212121


.menu
    display: flex
    justify-content: space-between
    padding: 13px 70px
    margin: 0
    list-style: none
    .menu_link
        color: #fff
        font-size: 15px
        font-weight: 300
    .menu_item
        border-right: 2px dotted black
        padding-right: 28px

.subheader
    height: 84px
    background-color: rgba(0,0,0,.6)
    &_logo
        display: inline-block
        max-width: 100%
        margin-top: 16px
    &_official
        margin-top: 6px
        opacity: .5
        color: #fff
        font-size: 13px
        font-weight: 400
