body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

header {
  position: relative; }

nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #000;
  z-index: 1; }

.hamburger {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; }

.menu__link {
  color: #fff;
  font-size: 15px;
  font-weight: 300; }

.menu__item {
  border-right: 2px dotted black;
  padding-right: 28px; }
  .menu__item:last-child {
    border-right: none; }

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader__logo {
    display: inline-block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader__official {
    margin-top: 6px;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400; }
  .subheader__call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
    color: #fff; }
  .subheader__phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #fff; }
  .subheader__btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    text-transform: uppercase;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none; }

.xs-visible {
  display: none; }

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat; }
  .promo__header {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .promo__subheader {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .promo__descr {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }
  .promo__btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 172px;
    height: 46px;
    text-transform: uppercase;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none; }

.reasons {
  min-height: 825px;
  padding: 25px 0 100px 0; }
  .reasons__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
    .reasons__block_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 20px;
      width: 110px;
      height: 110px;
      background-color: #1EACC7;
      border-radius: 100%; }
    .reasons__block_descr {
      width: 340px; }
    .reasons__block_title {
      font-size: 17px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #1EACC7; }
    .reasons__block_descr {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #000; }

.label {
  display: block;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  height: 24px;
  width: 113px;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px; }

.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-top: 30px; }

.subtitle {
  font-size: 17px;
  font-weight: 400;
  text-align: center; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_app.jpg") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile__item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 91px; }
    .mobile__item_1 {
      background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat; }
    .mobile__item_2 {
      background: url("../img/bg/mobile_screen_2.jpg") center center/cover no-repeat; }
    .mobile__item_3 {
      background: url("../img/bg/mobile_screen_3.jpg") center center/cover no-repeat; }
    .mobile__item_4 {
      background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat; }
    .mobile__item_5 {
      background: url("../img/bg/mobile_screen_5.jpg") center center/cover no-repeat; }
    .mobile__item_6 {
      background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat; }
    .mobile__item_subtitle {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      text-transform: uppercase; }
    .mobile__item_plus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-color: #000;
      border-radius: 100%;
      cursor: pointer; }

.choise {
  position: relative;
  min-height: 900px;
  padding: 50px 0 137px 0; }
  .choise__descr {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: #000;
  z-index: -1; }

.label-white {
  background-color: #fff;
  color: #000; }

.title-white {
  color: #fff; }

.subtitle-white {
  color: #fff; }

.img-car {
  width: 100%;
  display: block;
  margin: 54px auto 0 auto; }

.require {
  padding: 68px 0 84px 0; }
  .require__block {
    margin: 33px 0; }
    .require__block_nmb {
      margin-bottom: 0; }
  .require_title {
    color: #1eacc7;
    font-size: 22px;
    font-weight: 400; }
  .require_list {
    list-style: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translate(-10px, -2px);
                transform: translate(-10px, -2px);
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.svg") center center/cover no-repeat; }
  .require_descr {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 300;
    text-align: left; }
  .require .warning .require_title {
    color: red; }
  .require .warning .require_list li::before {
    background: url("../icons/check_red.svg") center center/cover no-repeat; }

.world {
  position: relative;
  min-height: 700px;
  padding: 46px 0 46px 0;
  background: url("../img/bg/map.jpg") center center/cover no-repeat; }
  .world__link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 46px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase; }
    .world__link a {
      -webkit-transition: 0.7s all;
      transition: 0.7s all; }
      .world__link a:hover {
        color: #fff; }

.footer {
  min-height: 200px;
  padding: 11px 0 20px 0; }
  .footer__divider {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 7px;
    background-color: #1eacc7; }
  .footer__wrapper {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__social {
    width: 320px; }
  .footer__link {
    width: 400px; }
    .footer__link_main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      font-size: 15px;
      font-weight: 300;
      line-height: 68px;
      text-transform: uppercase; }
      .footer__link_main a {
        color: #000; }
    .footer__link_sub {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase; }
      .footer__link_sub a {
        color: #999; }
    .footer__link_lang {
      margin-top: 10px;
      font-size: 11px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase; }
      .footer__link_lang a {
        color: #1eacc7; }
  .footer__mobile {
    width: 320px; }

@media (max-width: 1200px) {
  .menu__item {
    padding-right: 20px; }
  .menu__link {
    font-size: 13px; }

  .subheader__phone {
    font-size: 18px; }

  .promo__header {
    font-size: 50px; }

  .reasons__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reasons__block_descr {
      width: 300px; }

  .mobile__item {
    width: 295px; }

  .world {
    min-height: 295px; } }
@media (max-width: 991px) {
  .menu__item {
    padding-right: 8px; }
  .menu__link {
    font-size: 10px; }

  .subheader__logo img {
    width: 100%; }
  .subheader__official {
    font-size: 11px; }
  .subheader__phone {
    font-size: 11px; }
  .subheader__btn {
    margin-top: 21px;
    height: 40px;
    width: 100%; }

  .promo__header {
    font-size: 40px; }
  .promo__subheader {
    font-size: 30px; }

  .reasons__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reasons__block_descr {
      width: 300px;
      margin-top: 20px; }

  .mobile__item {
    width: 215px; } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 2s all;
    transition: 2s all; }
    .menu_active {
      left: 0; }
    .menu__item {
      padding-right: 0;
      border: none; }
    .menu__link {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 27px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .subheader__phone {
    display: block;
    margin-top: 10px; }
  .subheader__btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto; }

  .mobile__item {
    width: 355px; } }
@media (max-width: 576px) {
  .subheader__official {
    display: none; }
  .subheader__logo {
    margin-top: 25px; }

  .subheader__phone {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px; }
  .subheader__btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px; } }

/*# sourceMappingURL=style.css.map */